<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
</head>

	<body>

		<button><a style="float:left;" href="{{url_for('showCatalog')}}">Home</a></button>


		{%if 'username' not in session %}
			<div style="float:right" align="right">
				<button><a class="login" href="{{url_for('showLogin')}}">Login</a></button>
			</div>			
		{% else %}
			<div slyle="float:right" align="right">
				<a class="login" href="{{url_for('gdisconnect')}}"><button>Logout</button></a>
			</div>		
		{% endif %}

		{% with messages = get_flashed_messages() %}
		{% if messages %}

			<ul>
			{% for message in messages %}
				<li><strong> {{ message }} </strong></li>
			{% endfor %}
			</ul>
		{% endif %}
		{% endwith %}

		<h1 align="center">{{ item.name }}</h1>

		<p>Created at: {{item.time_created}}</p>

		<h3>Description:</h3>

		<p>{{item.description}}</p>

	</body>
	
</head>
</html>
